<div class="modal-dialog">

    <div class="modal-content">

        <div class="modal-header"><h3>{{entityDefinition.name.plural}} - <small>Εισαγωγή από αρχείο</small></h3></div>

        <div class="row modal-body" style="overflow:hidden;">
            <div class="col-md-12">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-edit"></i>Επιλογές</div>
                    </div>

                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form name="importFileForm" class="form-horizontal" novalidate>

                                    <div class="form-body">
                                        <div class="row margin-bottom-10">
                                            <div class="form-group">
                                                <label class="control-label col-md-5">Αρχείο με {{entityDefinition.name.plural}}</a></label>
                                                <div class="col-md-6 btn btn-default file-droptarget blue" ng-click="triggerFileOpen()" ng-file-drop="onFileSelect($files)">
                                                    <br><i class="fa fa-arrow-right"></i>Σύρετε αρχείo εδώ<br>(ή πατήστε)
                                                    <input id="impfile" type="file" ng-file-select="onFileSelect($files)" style="display: none">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-6 col-md-offset-5">
                                                    <ul class="tabbable list-group">
                                                        <li ng-repeat="file in selectedFiles"
                                                            class="list-group-item">
                                                            <span>
                                                                <strong class="text-info">{{file.name}}:</strong> {{file.type}} ({{file.size | fileSize}})
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-5">Τύπος αρχείου</label>
                                                <div class="col-md-6">
                                                    <input type="hidden" ng-model="importFileOptions.fileType"
                                                           class="form-control" ui-select2="impSelect2({selectFrom: fileTypeOptions})">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-5">Κωδικοποίηση αρχείου</label>
                                                <div class="col-md-6">
                                                    <input type="hidden" ng-model="importFileOptions.encoding"
                                                           class="form-control" ui-select2="impSelect2({selectFrom: encodingOptions})">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-5">Μέθοδος εισαγωγής
                                                    <span ng-if="fieldDef.info" bs-tooltip="" class="text-warning"><i class="fa fa-info-circle"></i></span>
                                                </label>
                                                <div class="col-md-6">
                                                    <input type="hidden" ng-model="importFileOptions.method"
                                                           class="form-control" ui-select2="impSelect2({selectFrom: methodOptions})">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div ng-show="showProgressBar" class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-success"
                                                 role="progressbar" aria-valuenow="{{progress}}"
                                                 aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%">
                                            </div>
                                        </div>
                                        <div class="alert alert-danger" ng-if="errorMessage">
                                            Σφάλμα κατά την εισαγωγή του αρχείου: <strong>{{errorMessage}}</strong><br/>
                                            <a href="" ng-if="errorData" ng-click="downloadFileWithErrors()">Κατεβάστε το αρχείο με τα σφάλματα</a><br/>
                                            <a href="http://support.microsoft.com/kb/924074" ng-if="errorData" target="_blank">Πώς να ανοίξετε νέες μορφές αρχείου σε προηγούμενες εκδόσεις του Microsoft Office</a>
                                        </div>
                                        <div class="alert alert-success" ng-if="successfulMessage">
                                            Ολοκληρώθηκε επιτυχώς η εισαγωγή του αρχείου: <strong>{{successfulMessage}}</strong>
                                        </div>
                                    </div>

                                    <div class="form-actions fluid">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="submit" class="btn green" ng-click="upload()" ng-disabled="uploading">Εισαγωγή</button>
                                            <button type="button" class="btn default" ng-click="close()">Κλείσιμο</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>
