body {
  background-color: #3d3d3d !important;
}

.header {
  filter: none !important;
  background-image: none !important;
  background-color: #212121 !important;
}
.header .btn-navbar {
  background-color: #212121 !important;
}
.header .navbar-nav .dropdown-toggle:hover,
.header .navbar-nav .dropdown.open .dropdown-toggle {
  background-color: #383838 !important;
}
.header .navbar-nav li.dropdown .dropdown-toggle i {
  color: #8a8a8a !important;
}

.header .hor-menu ul.nav li a {
  color: #999;
}

.header .hor-menu ul.nav li.open > a,
.header .hor-menu ul.nav li > a:hover,
.header .hor-menu ul.nav li > a:focus {
  color: #fff;
  background: #383838;
}

.header .hor-menu .dropdown-menu li:hover > a,
.header .hor-menu ul.nav li.active > a,
.header .hor-menu ul.nav li.active > a:hover {
  color: #fff;
  background: #e02222 !important;
}

.header .hor-menu .dropdown-menu {  
    background: #383838;
}
.header .hor-menu .dropdown-menu li > a {    
    color: #999;
}

.footer .footer-inner {
  color: #999999;
}
