<div id="login-container" class="login" ng-controller="LoginCtrl">

	<div class="logo">
		<img src="images/logo.png" alt="" />
        <span>{{appConstants.appName}}</span>
	</div>

	<div class="content">

		<form name="form" novalidate class="login-form" ng-submit="login($event)">

			<h3 class="form-title">Είσοδος στην εφαρμογή</h3>

			<div class="form-group">
				<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            	<label class="control-label visible-ie8 visible-ie9">Κωδικός χρήστη</label>
				<div class="input-icon">
					<i class="fa fa-user"></i>
                    <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Όνομα χρήστη" name="username" ng-model="username" required/>
				</div>
                <div class="help-block" ng-show="form.username.$dirty && form.username.$invalid">
                    <span ng-show="form.username.$error.required">Παρακαλώ πληκτρολογήστε όνομα χρήστη</span>
                </div>
			</div>

			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Συνθηματικό</label>
				<div class="input-icon">
					<i class="fa fa-lock"></i>
					<input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Κωδικός πρόσβασης" name="password" ng-model="password" ng-keyup="$event.keyCode == 13 ? login($event) : null" required/>
				</div>
                <div class="help-block" ng-show="form.password.$dirty && form.password.$invalid">
                    <span ng-show="form.password.$error.required">Παρακαλώ πληκτρολογήστε κωδικό πρόσβασης</span>
                </div>
			</div>

            <div ng-show="gotErrorResponse && username === previousUsername && password === previousPassword"
                 class="alert alert-danger">
                <button class="close" data-close="alert"></button>
                <span>{{errorMessage}}</span>
            </div>

			<div class="form-actions">
				<label class="checkbox">
				<input type="checkbox" name="remember" ng-model="rememberMe" checked/> Να παραμείνω συνδεδεμένος
				</label>
				<button ng-disabled="form.$invalid" type="submit" class="btn green pull-right">
				Είσοδος <i class="m-icon-swapright m-icon-white"></i>
				</button>            
			</div>

		</form>

	</div>

	<div class="copyright">
        {{appConstants.copyright}}
	</div>
</div>
